In [22]:
# -*- coding: utf-8 -*-

import argparse
import shutil

import numpy as np
import torch
from torch.autograd import Variable, grad
from torch.nn.init import xavier_normal
from torchvision import datasets, transforms
import torchvision.utils as vutils

from data import *
from models import *
from util import *
import time
import random

In [68]:
data = pd.read_csv('./extra_data/convert_tags.csv')

In [69]:
data.columns

Index(['Unnamed: 0', 'idx', 'hair', 'eyes'], dtype='object')

In [70]:
data = data.drop(columns = ['Unnamed: 0'])

In [93]:
xx = data[np.bitwise_or(np.bitwise_or(np.bitwise_or(data['hair'] == 10,data['hair'] == 2),data['hair'] == 1),data['hair'] == 8)]

In [95]:
data['hair'].value_counts()

10    4006
2     3930
1     3868
8     3788
6     3612
4     3514
11    3422
5     2500
9     2382
7     1988
3     1944
0     1786
Name: hair, dtype: int64

In [96]:
xx['hair'].value_counts()

10    4006
2     3930
1     3868
8     3788
Name: hair, dtype: int64

In [76]:
xx.shape

(11804, 3)

In [97]:
ind_dic = {10:0 , 2:1, 1:2,8:3}

In [98]:
ind_dic[2]

1

In [99]:
final = []

In [100]:
for i in range(xx.shape[0]):
    tmp = np.array(xx.iloc[i])
    label = tmp[1]
    one_hot_tmp = [0 for _ in range(4)]
    one_hot_tmp[ind_dic[label]] = 1
    tmp = [str(tmp[0]) + '.jpg'] + one_hot_tmp
    final.append(tmp)

In [101]:
len(final)

15592

In [112]:
final[15000:15010]

[['31930.jpg', 1, 0, 0, 0],
 ['31931.jpg', 1, 0, 0, 0],
 ['31932.jpg', 1, 0, 0, 0],
 ['31933.jpg', 1, 0, 0, 0],
 ['31934.jpg', 1, 0, 0, 0],
 ['31935.jpg', 1, 0, 0, 0],
 ['31936.jpg', 1, 0, 0, 0],
 ['31937.jpg', 1, 0, 0, 0],
 ['31938.jpg', 1, 0, 0, 0],
 ['31939.jpg', 1, 0, 0, 0]]

In [113]:
df = pd.DataFrame(final)

In [114]:
color = ['id','pink','green','gray','orange']

In [116]:
df.columns = color

In [9]:
color = pd.read_csv('./tags_hair_num.csv').drop(columns = ['Unnamed: 0'])

In [34]:
dic = {}
count = 0

In [21]:
final = []

In [35]:
color.head()

   idx  hair
0    2     0
1    3     0
2    4     0
3    9     1
4   10     0

In [36]:
print(dic)

{}

In [37]:
colors = ['idx'] + [str(_) for _ in range(12)]

In [38]:
colors

['idx', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']

In [19]:
final = []
for i in range(color.shape[0]):
    tmp = dic[color.iloc[i]['hair'].split()[0]]
    one_hot_tmp = [0 for _ in range(12)]
    one_hot_tmp[tmp] = 1
    tmps = [str(color.iloc[i]['id']) + '.jpg'] + one_hot_tmp
    final.append(tmps)

In [20]:
final[0:10]

[['1.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['2.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['3.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['4.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['5.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['6.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['7.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['8.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['9.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['10.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [21]:
random.shuffle(final)

In [39]:
final[0:10]

[['2.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['3.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['4.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['9.jpg', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['10.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['13.jpg', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['16.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['17.jpg', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 ['26.jpg', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['27.jpg', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]]

In [85]:
df = pd.DataFrame(final)

In [41]:
colors

['idx', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']

In [86]:
df.columns = color

In [117]:
df.head()

         id  pink  green  gray  orange
0  1786.jpg     0      0     1       0
1  1787.jpg     0      0     1       0
2  1788.jpg     0      0     1       0
3  1789.jpg     0      0     1       0
4  1790.jpg     0      0     1       0

In [118]:
df.to_csv('./extra_data/reduced_hair.csv')